@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Steema Software SL<br />
    <a href="http://www.steema.com">www.steema.com</a>
</address>

<address>
    <strong>sales:</strong> <a href="mailto:sales@steema.com">sales@steema.com</a><br />
</address>
